body{
    font-family: Arial, Helvetica, sans-serif;
}



/*product*/

.productsList{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.product
{
    width:30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.priceBlock{
    width:50%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}


.productPrice{
    font-weight: 600;
    font-size: 19px;

}
.product button{
    background: linear-gradient(rgb(96,110,218),rgb(211,83,83));
    color: white;
    border: none;
    border-radius: 3px;
    padding: 7px;
    font-size: 15px;
    cursor: pointer;
}

.product button:hover{
    background: linear-gradient(rgb(130,140,213),rgb(211,83,83));
}

/*header*/

#header{
    display:flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.447);
}

.sitelogo{
    width:100px;
}

.cartlink{
    display:flex;
    align-items: center;
}

.cartlink span{
    background-color: rgb(242,63,63);
    color: white;
    padding:3px;
    border-radius: 3px;
    margin-left: 3px;
}

.cartlink img{
    width:70px;
}

.search{
    display:flex;
}

.search input{
    font-size: 17px;
    padding: 3px;
    outline: none;
}

.search button{
    background-color: #cf961b;
    color:white;
    border: none;
    font-size: 17px;
    padding: 5px;
    cursor: pointer;
}